#brand-logo {
  font-size: 34px;
}

#app-navbar {
  background: linear-gradient(120deg, rgba(75, 122, 192, 0.3), rgba(95, 137, 175, 0.4) );
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(10px);
  color: white;
}

