html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#videoBG {
  position: fixed;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px) {
  #videoBG {
    display: none;
  }
}

@media (max-width: 767px) {
  body {
    background: url('poster.jpg');
    background-size: cover;
  }
}

#textdiv {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
  background-color: #fff;
  border: none;
  border-radius: .625rem;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);
  padding: 1.875rem;
}

